@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.review-container,
.SearchResult,
html {
  --scrollbarBG: rgb(220 38 38);
  --thumbBG: rgb(220 38 38);
}
.review-container::-webkit-scrollbar,
body::-webkit-scrollbar,
.SearchResult::-webkit-scrollbar {
  width: 4px;
}
.review-container,
body,
.SearchResult {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}
.review-container::-webkit-scrollbar-track,
.SearchResult::-webkit-scrollbar-track {
  background: transparent;
}
.review-container::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.SearchResult::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.loginMain {
  background: url("../public/login-bg.jpg");
}
.default-main {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../public/defaultHmeBg.jpg");
}
.expanded {
  height: 500px;
  display: block;
  transition: all 200ms ease-in-out;
}
.dropdown::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  right: 1.1rem;
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
  background: rgba(0, 0, 0, 0.8);
}
@layer components {
  .NavLinks > a {
    @apply hover:text-red-600 cursor-pointer duration-200;
  }
}
