@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginMain{
  background: url("../public/login-bg.jpg");
}
.default-main{
  background: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0)), url("../public/defaultHmeBg.jpg");
}

@layer components {
  .NavLinks > h3{
    @apply hover:text-red-600 cursor-pointer duration-200;
  }
  .NavLinks > button{
    @apply hover:text-red-600 cursor-pointer duration-200;
  }
}